.filler {
  width: 400px;
  height: 30px;
  background-color: #e5e7e9;
}

.subtotal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn.pay {
  background-color: #3498db;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  border-radius: 4px;
  width: 200px;
  margin-top: 12px;
}

.total-tickets {
  margin: 10px 0 0 10px;
}

.sum {
  margin: 10px 0 0 10px;
}