* {
  box-sizing: border-box;
}

.ticket-component-title,
.customer-info-title {
  display: flex;
  align-items: center;
  background-color: #e5e7e9;
  height: 50px;
  padding-left: 10px;
}

.subtotal-filler {
  width: 100%;
  height: 10px;
  background-color: #e5e7e9;
  height: 50px;
}

.App {
  width: 400px;
  position: relative;
  top:30px;
  left: 50%;
  transform: translateX(-50%)
}

.tickets-wrapper 
.ticket-wrapper {
  border-bottom: 1px solid #e5e7e9;
}